@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.App {
    color: white;
    display: flex;
    width: 100vw;
    justify-content: center;
}